body{background-image: url(https://conteudo.imguol.com.br/c/entretenimento/0e/2017/10/15/batata-crua-1508077604971_v2_1920x1269.jpg);}
h1{
  
  background-color: white;
  background-size: 0px 0px;

}
h2{background-color: white;}
body{background-repeat: no-repeat;}
body{background-size: 10000px;}
a{font-size: larger;}
